html 
  head
    style 
      include ../style.css
      
  title YT Summarizer
body
  div#header
    h2 Youtube Summarizer
  div#body
    h4 Your Video Summary:
    p #{summary}
  div#footer
    div Developed by 
      a(href='https://youtube.com/@wrainf') wrainf
  